{% extends "shared/base.html" %}


{% block title %}
  <title>Recommend Book</title>
{% endblock %}

{% block content %} 
<div class="container">
      <h1 class="display-4 text-danger">Recommend Book</h1>

  <div class="row">
    {% for book in books %}
      <div class="col-lg-4 col-md-3 col-sm-10 mr-auto">
        {% with obj=book %}
          {% include "components/reco.html" %}
        {% endwith %}

        {% if loop.index %3 %}
          </div>
        {% else %}
          </div></div><br><div class="row">
        {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}