{% extends "shared/base.html" %}


{% block title %}
  <title>Delete Book</title>
{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5 text-center text-danger mb-3">Delete Books</h1>
    </div>
    <div id="result" class="text-danger text-bold lead"></div>
  </div>

  <div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Book No.</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Publication Date</th>
            <th scope="col">Writer</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for book in books %} 
            <tr>
                <th scope="row">{{book.book_no}}</th>
                <td>{{book.title}}</td>
                <td>{{book.price}}</td>
                <td>{{book.publication_date}}</td>
                <td>{{book.writer}}</td>
                <td><button class="btn btn-danger btn-sm" onclick="delete_book('{{book.book_no}}')">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <button class="btn btn-danger btn-sm" onClick="window.location.reload()" style="cursor: pointer;">Reload</a>
</div>


{% endblock %}

{% block scripts %} 
<script type="text/javascript">
  function delete_book(book_no){
      fetch('/books/delete/'+book_no,{
          method:'DELETE',
      })
      .then(response => response.json())
      .then(document.getElementById('result').innerHTML = "Refreshing")
      .then(data => document.getElementById("result").innerHTML = data.detail);
  }
</script>
{% endblock %}